#_text
{
    background-color:white;
}

#facts
{
    background-color: #eee;
}
.card
{
    border: 2px solid cornflowerblue;
    margin: 30px 0px;
}
#r-series
{
    background: #eef;
    border-style: solid;
    border-radius: 30px;
    border-color: cornflowerblue;
    margin-bottom: 50px;
}
#_title
{
  padding: 100px 0px 0px 30px;
}
#_r53
{
  height: 235px;
}

#generations img
{
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}
#brand_history
{
    background: url("/images/ИП.jpg");

}
#_history-blocks
{
    background-color: white;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
}
